HelloWorld/HelloWorld/bin/Debug/netcoreapp3.1/HelloWorld.deps.json
HelloWorld/HelloWorld/bin/Debug/netcoreapp3.1/HelloWorld.dll
HelloWorld/HelloWorld/bin/Debug/netcoreapp3.1/HelloWorld.exe
HelloWorld/HelloWorld/bin/Debug/netcoreapp3.1/HelloWorld.pdb
HelloWorld/HelloWorld/bin/Debug/netcoreapp3.1/HelloWorld.runtimeconfig.dev.json
HelloWorld/HelloWorld/bin/Debug/netcoreapp3.1/HelloWorld.runtimeconfig.json
HelloWorld/HelloWorld/obj/HelloWorld.csproj.nuget.dgspec.json
HelloWorld/HelloWorld/obj/HelloWorld.csproj.nuget.g.props
HelloWorld/HelloWorld/obj/project.assets.json
HelloWorld/HelloWorld/obj/project.nuget.cache
HelloWorld/HelloWorld/obj/Debug/netcoreapp3.1/apphost.exe
HelloWorld/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.assets.cache
HelloWorld/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.csproj.AssemblyReference.cache
HelloWorld/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.csproj.CoreCompileInputs.cache
HelloWorld/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.csproj.FileListAbsolute.txt
HelloWorld/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.dll
HelloWorld/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.genruntimeconfig.cache
HelloWorld/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.pdb
HelloWorld/HelloWorld/obj/HelloWorld.csproj.nuget.dgspec.json
HelloWorld/HelloWorld/obj/HelloWorld.csproj.nuget.g.props
HelloWorld/HelloWorld/obj/project.assets.json
HelloWorld/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.assets.cache
HelloWorld/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.csproj.AssemblyReference.cache
HelloWorld/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.assets.cache
HelloWorld/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.AssemblyInfoInputs.cache
HelloWorld/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.AssemblyInfo.cs
HelloWorld/.vs/HelloWorld/v16/.suo
variables/variables/bin/Debug/variables.exe
variables/variables/bin/Debug/variables.exe.config
variables/variables/bin/Debug/variables.pdb
variables/variables/obj/Debug/variables.csproj.CoreCompileInputs.cache
variables/variables/obj/Debug/variables.csproj.FileListAbsolute.txt
variables/variables/obj/Debug/variables.exe
variables/variables/obj/Debug/variables.pdb
*.exe
*.pdb
variables/variables/obj/Release/variables.csproj.FileListAbsolute.txt
*.cache
variables/variables/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
variables/variables/bin/Release/variables.exe.config
HelloWorld/HelloWorld/obj/Release/netcoreapp3.1/HelloWorld.AssemblyInfo.cs
HelloWorld/HelloWorld/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
